<h2> TOTAL RESULTS </h2>

<p> Total Profits:  ${{@model.totalProfits}} </p>
<p> Number Of Winners:  {{@model.numberOfWinners}} </p>
<p> Number Of Losers:  {{@model.numberOfLosers}} </p>
<p> Total Buy Commissions:  ${{@model.buyCommissions}} </p>
<p> Total Sell Commissions:  ${{@model.sellCommissions}} </p>